{% extends "experience_base.html" %}
{% block title %}
    {{ super() }} - Biomechatronics 
{% endblock %}

{% block job %}
    Bio Mechatronics Design Team
{% endblock %}
{% block company %}
    The University of Waterloo
{% endblock %}
{% block date %}
    September 2022 - December 2022
{% endblock %}
{% block job_description %}
    As a member of the software development team, I researched EMG signal processing, sEMG data sets, and worked with Python to process the signal data.
{% endblock %}
{% block company_description %}
    The University of Waterloo's Biomechatronics design team works in the field of rehabilitation engineering to deliver custom prototypes to individuals in need. 
    The EMG fabric sub team is in the process of developing a fabric that can use EMG signals to control a prosthetic arm.
{% endblock %}