{% extends "experience_base.html" %}
{% include "base.html" %}
{% block title %} 
        Bio Mechatronics Team
{% endblock %}

{% block content %}
    {% block job %}
        Bio Mechatronics Design Team
    {% endblock %}
    {% block company %}
        The University of Waterloo
    {% endblock %}
    {% block date %}
        September 2022 - December 2022
    {% endblock %}
    {% block job_description %}
        hello
    {% endblock %}
    {% block company_description %}
        hi there
    {% endblock %}
{% endblock %}