{% extends "experience_base.html" %}
{% include "base.html" %}
{% block title %} 
        Christie Digital
{% endblock %}

{% block content %}
    {% block job %}
        Software Engineer
    {% endblock %}
    {% block company %}
        Christie Digital Systems 
    {% endblock %}
    {% block date %}
        January 2023 - April 2023
    {% endblock %}
    {% block job_description %}
        hello
    {% endblock %}
    {% block company_description %}
        hi there
    {% endblock %}
{% endblock %}