{% extends "base.html" %}
{% block title %}
   Contact
{% endblock %}
{% block content %}
<h1> Contact </h1>
<h2> Let's get in touch! </h2>

<div class="experience_table">
   <div class="experience_format">
      <div class="contacts">
         <a href="https://www.linkedin.com/in/madeline-wong27"> 
            <i class="fa fa-linkedin-square" style="font-size:215px;color:lightblue;"></i>
         </a>
         <h2> Linkedin </h2>
         <h3 href="https://www.linkedin.com/in/madeline-wong27"> madeline-wong27 </h3>
      </div> 
      <div class="contacts">
         <a href="mailto:maddie12@outlook.com">
            <i class="fa fa-envelope-o" style="font-size:215px;color:lightblue"></i>
         </a>
         <h2> Email </h2>
         <h3> maddie12@outlook.com </h3>
      </div>
      <div class="contacts">
         <a href="https://github.com/maddiew22">
            <i class="fa fa-github" style="font-size:215px;color:lightblue"></i>
         </a>
         <h2> GitHub </h2>
         <h3> maddiew22 </h3>
      </div>
   </div>         
</div>

{% endblock %}