{% extends "experience_base.html" %}
{% include "base.html" %}
{% block title %} 
        DEEP
{% endblock %}

{% block content %}
    {% block job %}
        The Da Vanci Engineering Enrichment Program
    {% endblock %}
    {% block company %}
        The University of Toronto
    {% endblock %}
    {% block date %}
        July 2022 - August 2022
    {% endblock %}
    {% block job_description %}
        hello
    {% endblock %}
    {% block company_description %}
        hi there
    {% endblock %}
{% endblock %}