{% extends "experience_base.html" %}
{% include "base.html" %}
{% block title %} 
        Engineers Without Borders
{% endblock %}

{% block content %}
    {% block job %}
        Product Manager
    {% endblock %}
    {% block company %}
        Engineers Without Borders 
    {% endblock %}
    {% block date %}
        September 2022 - December 2022
    {% endblock %}
    {% block job_description %}
        hello
    {% endblock %}
    {% block company_description %}
        hi there
    {% endblock %}
{% endblock %}