{% extends "base.html" %}
{% block title %}
   Experience
{% endblock %}
{% block content %}
<h1> Experience </h1>

<div class="experience_table">
   <div class="experience_format">
      <div class="experience_left experience">
         <i class="material-symbols-outlined">code_blocks</i>
         <h2> Software Engineer </h2>
         <h3> Christie Digital Systems </h3>
      </div>
      <div class="experience_right experience">
         <i class="material-symbols-outlined">web</i>
         <h2> Product Manager </h2>
         <h3> Engineers Without Borders </h3>
      </div>
   </div>
   <div class="experience_format">
      <div class="experience_left experience">
         <i class="material-symbols-outlined">health_metrics</i>
         <h2> Biomechatronics Design Team </h2>
         <h3> The University of Waterloo </h3>
      </div>
      <div class="experience_right experience">
         <i class="material-symbols-outlined">engineering</i>
         <h2> Da Vinci Engineering Enrichment Program </h2>
         <h3> The University of Toronto </h3>
      </div>
   </div>
</div>


{% endblock %}