{% extends "base.html" %}
{% block title %}
   Experience
{% endblock %}
{% block content %}

<h1> Experience </h1>
<br></br>
<div style="background-color:rgb(123, 172, 188); padding-top:30px; padding-bottom:50px;">
   <h2 style="color:white"> Technical Experience </h2>
   <div class="flex-container">
      <div class="flex-child">
         <i class="material-symbols-outlined">code_blocks</i>
         <h2> Software Engineer </h2>
         <h3> Christie Digital Systems </h3>
         <p> January 2023 - April 2023</p>
      </div>
      <div class="flex-child">
         <i class="material-symbols-outlined">health_metrics</i>
         <h2> Bio Mechatronics Design Team </h2>
         <h3> The University of Waterloo </h3>
         <p> September 2022 - present </p>
      </div>
   </div>
   <div class="flex-container">
      <div class="flex-child">
         <i class="material-symbols-outlined">web</i>
         <h2> Product Manager </h2>
         <h3> Engineers Without Borders </h3>
         <p> September 2022 - December 2022 </p>
      </div>
      <div class="flex-child">
         <i class="material-symbols-outlined">engineering</i>
         <h2> Da Vinci Engineering Enrichment Program </h2>
         <h3> The University of Toronto </h3>
         <p> July 2022 - August 2022</p>
      </div>
   </div>
</div>

<br></br>
<br></br>

<h2> Non-Technical Leadership Experience </h2>
<div class="flex-container">
   <div class="flex-child aliceblue-flex">
      <i class="material-symbols-outlined">volunteer_activism</i>
      <h2> Co-Chair </h2>
      <h3> Northern Secondary School United Way Committee </h3>
      <p> September 2021 - June 2022</p>
   </div>
   <div class="flex-child aliceblue-flex">
      <i class="material-symbols-outlined">sports_soccer</i>
      <h2> Vice President </h2>
      <h3> Northern Secondary School Girls Athletic Association </h3>
      <p> September 2021 - June 2022</p>
   </div>
</div>
<div class="flex-container">
   <div class="flex-child aliceblue-flex">
      <i class="material-symbols-outlined">calculate</i>
      <h2> Math and Physics Tutor </h2>
      <h3> Northern Secondary School </h3>
      <p> September 2021 - June 2022</p>
   </div>
   <div class="flex-child aliceblue-flex">
      <i class="material-symbols-outlined">sports_basketball</i>
      <h2> Mini Camp Counsellor </h2>
      <h3> True North Sports Camps </h3>
      <p> August 2021 - September 2021 </p>
   </div>
</div>

<br></br>
<br></br>

 
   

{% endblock %}