 {% extends "base.html" %}
 {% block title %}
    Home Page
{% endblock %}
{% block content %}
 <h1> Maddie Wong </h1>
 <div class="flex-container flex-container-sentences">
   <div class="flex-child aliceblue-flex no-hover">
      <p>
         Hi I'm Maddie, a first year Systems Design Engineering student at the University of Waterloo! As a part of Waterloo's co-op program, I'm on the job hunt every other semester and I'm eager to gain professional experience. I love to learn and I'm always looking for ways to grow and improve. 
         I'm interested in all things software, embedded systems, AI, neuroengineering, an wearable tech!
         I'm passionate about developing impactful solutions to real life problems through software!
      </p>
   </div>    
</div>
<br></br>
 <div style="background-color:rgb(123, 172, 188); padding-top:30px; padding-bottom:50px;">
   <h2 style="color:white;"> Skills and Tools </h2>
   <br></br>
   <div class="flex-container">
      <div class="flex-child aliceblue-flex skills">
         <h4> Java </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> C++ </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> Python </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> HTML </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> CSS </h4>
      </div>
   </div>
   <div class="flex-container">
      <div class="flex-child aliceblue-flex skills">
         <h4> Flask </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> Arduino </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> Linux </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> Solidworks </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> MATLAB </h4>
      </div>
   </div>
   <br></br>
</div>

<br></br>
<br></br>

<h2> My Values </h2>

<div class="flex-container flex-container-sentences">
   <div class="flex-child invisible-flex">
      <i class="fa fa-users" style="font-size:50px;color:rgb(123, 172, 188);padding: 30px;"></i>
      <h3> Collaboration </h3>
      <p style="margin:5px; margin-top: 20px;"> Teamwork makes the dreamwork! Growing up heavily involved in sports collaboration is my second nature. Everyone has unique experiences, skills, and perspectives that when weaved together create a far richer product. I collaborate with compassion and kindness to create a system of support within my team. </p>
   </div>   
   <div class="flex-child invisible-flex">
      <i class="fa fa-lightbulb-o" style="font-size:50px;color:rgb(123, 172, 188); padding:30px;"></i>
      <h3> Creativity </h3>
      <p style="margin:5px; margin-top: 20px;"> Problems that engineering solutions seek to solve are often complex. I challenge myselft to think creativity and out of the box as this thinking is what drive the industry forward allowing us to create revolutionary products. </p>
   </div>     
   <div class="flex-child invisible-flex">
      <i class="fa fa-line-chart" style="font-size:50px;color:rgb(123, 172, 188); padding:30px;"></i>
      <h3> Growth </h3>
      <p style="margin:5px; margin-top: 20px;"> The amount to learn in our world is infinite and exciting. Every day is an opportunity to learn and improve! I seek to channel my failures into learning experiences. </p>
   </div>    
   <div class="flex-child invisible-flex">
      <i class="fa fa-handshake-o" style="font-size:50px;color:rgb(123, 172, 188); padding:30px;"></i>
      <h3> Dedication </h3>
      <p style="margin:5px; margin-top: 20px;"> Without dedication nothing gets done. I pride myself on my drive to give 100% effort to everything I do and commit wholeheartedly to the goals I set for myself. I'm always eager to dedicate extra time to go above and beyond expectations. </p>
   </div>      
</div>

<br></br>
<br></br>
<div style="background-color:rgb(123, 172, 188); padding-top:30px; padding-bottom:50px;">
   <h2 style="color:white;"> Outside of Work/School </h2>
   <div class="flex-container flex-container-sentences">
      <div class="flex-child aliceblue-flex no-hover">
         <i class="material-symbols-outlined">sports_soccer</i>
         <p style="margin-top:10px;">
            I'm a big sports girl! I grew up playing competetive soccer and spent several years playing in Ontario's high performance league. In high school I was a member of the cross-country, basketball, volleyball, badminton, and soccer teams... I basically joined every team I could because I loved being part of a team community, and meeting new people all while pushing my physical limits.
         </p>
         <i class="material-symbols-outlined">extension</i>
         <p style="margin-top:10px;">
            I love a good puzzle! I've always got a jigsaw puzzle on the go and I've been known to become so absorbed that I'll finish a 1000 piece puzzle in one day. From jigsaws to crosswords to sudokus, there is not better way to start the morning than with a little problem-solving challenge!
         </p>
         <i class="material-symbols-outlined">ramen_dining</i>
         <p style="margin-top:10px;">
            I love to eat and I'm always looking forward to my next meal! I'm a big fan of sushi, ramen, asian pears, and cream cheese icing. I've also got a big sweet tooth and will never say no to ice cream!
         </p>
         <i class="material-symbols-outlined">palette</i>
         <p style="margin-top:10px;">
            I enjoy putting my creativity to use by painting. In 2017 I stumbled across an artist who painted mandalas on stones and canvases and I was instantly inspired. Ever since then I've taken my own spin on this style to create intricate dot mandala paintings.
         </p>
      </div>    
   </div>
</div>

<br></br>





{% endblock %}