 {% extends "base.html" %}
 {% block title %}
    Home Page
{% endblock %}
{% block content %}
 <h1> Maddie Wong </h1>

 <div class="flex-container">
   <div class="flex-child aliceblue-flex">
      <p>
         Hi I'm Maddie, a passionate first year Systems Design Engineering student at the University of Waterloo! As a part of Waterloo's co-op program, I'm on the job hunt every other semester and I'm eager to gain professional experience. I love to learn and I'm always looking for ways to grow and improve. 
      </p>
   </div>    
</div>
<br></br>
 <div style="background-color:rgb(123, 172, 188); padding-top:30px; padding-bottom:50px;">
   <h2 style="color:white;"> Skills and Tools </h2>
   <br></br>
   <div class="flex-container">
      <div class="flex-child aliceblue-flex skills">
         <h4> Java </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> C++ </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> Python </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> HTML </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> CSS </h4>
      </div>
   </div>
   <div class="flex-container">
      <div class="flex-child aliceblue-flex skills">
         <h4> Flask </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> Arduino </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> Linux </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> Solidworks </h4>
      </div>
      <div class="flex-child aliceblue-flex skills">
         <h4> MATLAB </h4>
      </div>
   </div>
   <br></br>
   <br></br>
</div>

<br></br>
<br></br>

<h2> My Values </h2>

<div class="flex-container">
   <div class="flex-child invisible-flex">
      <i class="fa fa-users" style="font-size:50px;color:rgb(123, 172, 188);padding: 30px;"></i>
      <h3> Collaboration </h3>
      <p style="margin:5px; margin-top: 20px;"> Teamwork makes the dreamwork! Growing up heavily involved in sports collaboration is my second nature. Everyone has unique experiences, skills, and perspectives that when weaved together create a far richer tapestry.</p>
   </div>   
   <div class="flex-child invisible-flex">
      <i class="fa fa-lightbulb-o" style="font-size:50px;color:rgb(123, 172, 188); padding:30px;"></i>
      <h3> Creativity </h3>
      <p style="margin:5px; margin-top: 20px;">  </p>
   </div>     
   <div class="flex-child invisible-flex">
      <i class="fa fa-line-chart" style="font-size:50px;color:rgb(123, 172, 188); padding:30px;"></i>
      <h3> Growth </h3>
      <p style="margin:5px; margin-top: 20px;"> The amount to learn in our world is infinite and exciting. Every day and every expereince is an opportunity to learn and improve! </p>
   </div>    
   <div class="flex-child invisible-flex">
      <i class="fa fa-heart-o" style="font-size:50px;color:rgb(123, 172, 188); padding:30px;"></i>
      <h3> Compassion </h3>
      <p style="margin:5px; margin-top: 20px;">  </p>
   </div>      
</div>

<br></br>
<br></br>
<br></br>



{% endblock %}