{% extends "base.html" %}
{% block title %}
   Projects
{% endblock %}
{% block content %}
    <h1> Projects </h1>

    <div class="flex-container flex-container-sentences">
        <div class="flex-child aliceblue-flex" onclick="location.href='https:/github.com/maddiew22/portfolio'">
           <h2> Personal Website </h2>
           <p>
                Check out my website/portfolio that I coded and designed! Learn more about my experiences, skills, projects, and personality outisde of work/school!
           </p>
           <div class="flex-container">
                <div class="flex-child skills">
                    <h4> HTML </h4>
                </div>
                <div class="flex-child skills">
                    <h4> CSS </h4>
                </div>
                <div class="flex-child skills">
                    <h4> Python </h4>
                </div>
                <div class="flex-child skills">
                    <h4> Flask </h4>
                </div>
           </div>
        </div>
     </div>

     <br></br>
     <br></br>

{% endblock %}