{% extends "experience_base.html" %}
{% block title %} 
    {{ super() }} - True North Sports
{% endblock %}


{% block job %}
    Mini-Camp Counsellor
{% endblock %}
{% block company %}
    True North Sports Camps
{% endblock %}
{% block date %}
    July 2021 - September 2021
{% endblock %}
{% block job_description %}
    During the summer of 2021 I worked as a counsellor for a COVID-friendly adaptation to a regular summer camp. As a mini-camp counsellor, I ran a sports camp for groups of five children out of family backyard's. I planned and implemented programming for 6 weeks of COVID-frinedly sports camp. Through clear communication, encouraging attitude and consistent feedback, I coached children to dvelop their skills and passions for soccer and basketball. 
{% endblock %}
{% block company_description %}
    True North Sports Camps is a Toronto-based company that provides sports programming for children. 
    The organization values sportsmanship, teamwork, and inclusivity and achieves a supportive environment through a low camper to counsellor ratio.
{% endblock %}
