{% extends "experience_base.html" %}
{% block title %} 
    {{ super() }} - United Way 
{% endblock %}

{% block job %}
    Co-Chair
{% endblock %}
{% block company %}
    Northern Secondary School United Way Committee
{% endblock %}
{% block date %}
    Co-Chair: September 2021 - June 2022
    <br></br>
    Head of Advertising: September 2019 - September 2021
{% endblock %}
{% block job_description %}
    As the co-chair of my high school's United Way Committee, I lead a cross-functional team of 25 executive members and 130 general members to organize a year-long fundraising campaign that raised over $12,000 for charity. 
    During my time in this position, I increased general member participation by 300% by hosting consistent and engaging events and focusing on education initiatives that increased awareness of the cause we were fundraising for.
    My mentor once told me that great leaders make more leaders, so as the co-chair of this organization, I strived to help all my team members achieve personal growth while colaborating on this campaign.
{% endblock %}
{% block company_description %}
    Northern Secondary School's United Way Committee hosts a year-long fundraising campaign every school year to raise money for the United Way of Greater Toronto. The United Way of Greater Toronto fights against poverty through a acommunity centered approach to provide individuals the opportunities, access, and connections they need to build a good life. 
{% endblock %}