{% extends "experience_base.html" %}
{% include "base.html" %}
{% block title %} 
        United Way 
{% endblock %}

{% block content %}
    {% block job %}
        Co-Chair
    {% endblock %}
    {% block company %}
        Northern Secondary School United Way Committee
    {% endblock %}
    {% block date %}
        September 2021 - June 2022
    {% endblock %}
    {% block job_description %}
        hello
    {% endblock %}
    {% block company_description %}
        hi there
    {% endblock %}
{% endblock %}